#list {
  cursor: pointer;
  transition: box-shadow 0.3s;
  width: 70%;
  margin: 3% auto;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  background-image: linear-gradient(
    to left,
    rgba(238, 255, 0, 0),
    rgb(238, 255, 0)
  );
}

#list:hover {
  box-shadow: 0 0 30px rgba(33, 33, 33, 0.856);
}

#item {
  margin: 1% 20%;
  background-image: linear-gradient(
    to left,
    rgba(0, 162, 255, 0),
    rgb(0, 162, 255)
  );
  border-radius: 5px;
}

button {
  cursor: pointer;
}
